/* css reset */
html, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 40px;
    background-color: lightsteelblue;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.5em;
    color: darkblue;
}

.header-btns,
.top-info {
    min-width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.score-info,
.timer {
    display: flex;
    flex-wrap: nowrap;
    margin: 12px 0;
}

/* hide sections when quiz is not active */
#restart-btn,
.top-info, 
.game-card, 
.postgame {
    display: none;
}

button {
    color: darkblue;
    font-size: 2em;
    padding: 4px;
    background-color: dodgerblue;
    border-radius: 4px;
}

button a {
    text-decoration: none;
    color: darkblue;
}

button:hover {
    border-color: transparent;
    box-shadow: 0 0 0 3px gold;
}

.game-card {
    min-width: 85vw;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: darkblue;
    padding: 16px;
    border-radius: 4px;
    color: seashell;
    font-size: 1.5em;
    line-height: 1.5em;
}

.answer-choices {
    width: 94%;
    list-style-position: inside;
}
.answer-choices > li {
    border: 2px solid seashell;
    border-radius: 4px;
    margin: 8px 0;
}

.answer-choices > li:hover {
    border-color: transparent;
    box-shadow: 0 0 0 4px gold;
}

.answer-choices :nth-child(2n) {
    background-color: #055c5c;
}

.answer-choices :nth-child(2n+1) {
    background-color: rgb(23, 109, 110);
}

.result {
    display: flex;
    margin-top: 24px;
}

.answer-validate {
    padding: 12px;
    border-radius: 4px;

}
